.contact {
  padding: 30px 20px;
}

.card-container {
  margin-top: 1.4rem;
}
.intro {
  margin-top: 1.4rem;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 7px 10px 2px rgba(162, 158, 158, 0.75);
  padding: 1.3rem 1rem;
  margin-top: 2rem;
}

.one-row {
  display: flex;
  align-items: center;
}
.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(31, 143, 217);
  background-color: rgb(194, 248, 248);
  font-size: 1.3em;
}
.txt-info {
  margin-left: 1rem;
  line-height: 1.8rem;
}

.map {
  width: 100%;
  margin-top: 1rem;
  padding: 20px 0;
}

#message {
  width: 60%;
}

.wrapper-all {
  margin: 0 auto;
}

.btn {
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-transform: capitalize;
  margin-left: 2rem;
  margin-top: 1.6rem;
  width: 70%;
  border: none;
  background-color: rgb(31, 143, 217);
  color: white;
  border-radius: 5px;
}
.snackbar {
  /* background-color: #14a44d; */
  color: #14a44d;
  padding: 0.4rem;
  width: 53%;
  margin-top: 0.4rem;
  text-align: center;
  margin-left: 4rem;
  transform: translateX(300px);
  transition: all ease-in 0.2s;
  opacity: 0;
}
.show-snackbar {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 720px) {
  .contact {
    width: 80%;
    margin-left: 20%;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-container > div {
    width: 48%;
  }
  .form-wrapper {
    width: 48%;
  }
  .wrapper-all {
    width: 100%;
    height: 500px;
  }
  .btn {
    margin-top: 1rem;
    width: fit-content;
    padding: 0.6rem 1.3rem;
  }
  .info-con {
    height: 544px;
  }
  .card-container {
    margin-top: 0rem;
  }
}
