.home {
  width: 100%;
  height: 100vh;
  background-image: url(/img/comp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hamburger-container {
  position: fixed;
  right: 0;
  width: 38px;
  height: 38px;
  background-color: rgb(31, 143, 217);
  margin: 1rem 0.8rem 0 0;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.icon {
  color: #fff;
  font-size: 1.2rem;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(211, 211, 211);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}
.im {
  font-size: 2.3rem;
  margin-right: 0.4rem;
}
.download {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  border: none;
  background-color: rgb(31, 143, 217);
  color: #fff;
  border-radius: 5px;
}

@media (min-width: 720px) {
  .hamburger-container {
    display: none;
  }
}
