.portfolio {
  padding: 30px 20px;
}
.project-container {
  border: 1px solid red;
  margin-top: 1.3rem;
  padding: 10px;
}
.pro-title {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}
.img-con {
  width: 200px;
  height: 200px;
}
.img-con img {
  width: 200px;
  height: 200px;
}
@media (min-width: 720px) {
  .portfolio {
    width: 80%;
    margin-left: 20%;
  }
  .project-container {
    width: 40%;
    align-self: flex-start;
  }
}
