.side-bar {
  transform: translateX(-330px);
  transition: all ease-in-out 0.4s;
  position: fixed;
  height: 100vh;
  z-index: 100;
  /* padding: 40px 0 40 0; */
}
.showSidebar {
  width: 84%;
  background-color: #040b14;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translateX(0);
}
.sidebar-info {
  color: white;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0 0.6rem 0;
}

.sidebar-img-container {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #212431;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
.sidebar-name {
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-social-midea-link {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid white; */
  padding: 15px 0;
}

.social-icon-containare {
  background-color: #212431;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.4rem;
  text-decoration: none;
}

.social-icon {
  font-size: 0.9rem;
  color: white;
}

/* navigation */
.sidebar-nav {
  min-width: 30%;
  margin-left: 10%;
}

.nav-container {
  color: white;
  width: 50%;
  margin: 1rem 0;
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.nav-container a {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 8%;
  text-decoration: none;
  font-size: small;
}

.nav-icon {
  color: rgb(106, 102, 102);
  font-size: 1.2rem;
}
